h1 {
  background-color: #555555;
  text-align: center;
  color: white;
  height: 40px;
  width: 100%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  height: 200px;
  width: 200px;
  float: left;
  padding-right: 20px;
}
body {
  background-color: #fffaf0;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
}
.col-2-3 {
  float: left;
  width: 66%;
}
.col-1-3 {
  float: right;
  width: 33%;
}

header {
  width: 100vmax;
  position: relative;
  margin-left: -50vmax;
  height: 100px;
  margin-top: 0 auto;
  left: 50%;
}
